*{
    margin: 0 auto; 
}

body{
    background-color: white;
}
header{
    background-color: rgb(26, 30, 100);
    width: auto; 
    height: 10vh;
}
h3{
    position: relative; 
    text-align: center; 
    color: white; 
    font-size: 40px; 
    text-shadow: 6px 6px 10px black; 
    letter-spacing: .3rem;
}
h1{
    color: white; 
    position: relative; 
    text-align: center;
    font-size: 50px;
    letter-spacing: .3rem;
    text-shadow: 1px 1px 1px; 
}
/* Style for the hamburger icon */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.bar {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px 0px 0px 0px;
    transition: 0.3s;
}
.bar:hover{
    pointer: cursor; 
    text-deoration: underline;
}
/* Style for the open navigation links */
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin: 10px 0;
}

/* Media query to hide/show the hamburger icon based on screen size */
@media (max-width: 2000px) {
    .menu-toggle {
        display: flex;
    }

    .navigation {
        color: white;
        text-shadow: 3px 6px 10px black;
        letter-spacing: .1rem;
        display: none;
        font-size: 25px; 
        flex-direction: column;
        text-align: center;
        background-color: red;
        padding: 2px;
        position: relative;/* Adjust the top position as needed */
        right: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1; 
    }

    .navigation.active {
        display: flex;
    }
}
.mainbody {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.mainimg {
    width: 100%;
    height: auto;
    display: block;
}
.content1{
    background-color: black;
    border: solid;
    display: block; 
    height: 40vh;
    color: white; 
    text-align: center;
    
}
@media (min-width: 1801px) {
    .mainimg {
        margin: 0 auto; /* Center the image horizontally */
    }
}


li:hover{
    text-decoration: underline; 
}
.navigation:hover{
    cursor: pointer; 
}
/* CSS code to remove blue color and highlights on links */
a {
    color: white; /* Set the link color to black */
    text-decoration: none; /* Remove underlines from links */
}

/* Style visited links */
a:visited {
    color: white; /* Change the color of visited links if needed */
}

/* Style links on hover */
a:hover {
    text-decoration: underline; /* Add an underline on hover if desired */
}

}
